<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.triplesolitaire"
    android:installLocation="auto"
    android:versionCode="1244120"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <supports-screens
        android:largeScreens="false"
        android:normalScreens="false"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="TripleSolitaireApplication"
        android:allowBackup="true"
        android:backupAgent="TripleSolitaireBackupAgent"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <provider
            android:name=".provider.GameProvider"
            android:authorities="com.github.triplesolitaire"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity
            android:name=".TripleSolitaireActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/settings" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIWFaQFsEUFijeNdxXu-uN6_FwEQJqgAWDbeg_bw" />
    </application>

</manifest>