<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="auto"
	package="com.github.triplesolitaire"
	android:versionCode="1244111"
	android:versionName="1.1.1" >
	<uses-sdk android:minSdkVersion="12" />
	<supports-screens
		android:largeScreens="false"
		android:normalScreens="false"
		android:smallScreens="false"
		android:xlargeScreens="true" />
	<application
		android:backupAgent="TripleSolitaireBackupAgent"
		android:debuggable="true"
		android:hardwareAccelerated="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name="TripleSolitaireApplication" >
		<provider
			android:authorities="com.github.triplesolitaire"
			android:exported="false"
			android:name=".provider.GameProvider" >
			<grant-uri-permission android:pathPattern=".*" />
		</provider>
		<activity
			android:label="@string/app_name"
			android:name=".TripleSolitaireActivity" >
			<intent-filter >
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:label="@string/settings"
			android:name=".Preferences" />
		<meta-data
			android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAIWFaQFsEUFijeNdxXu-uN6_FwEQJqgAWDbeg_bw" />
	</application>
</manifest>